<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="noindex,nofollow" />

    <title>{{ name|default('Composer repository') }}</title>

    <style type="text/css">
        {% include 'build/style.css' %}
    </style>
</head>

<body>

<div class="container">
    <header class="d-flex flex-column my-3 p-3 bg-light">
        <a class="navbar-brand" href="/">
            {{ name|default('Composer repository') }}
        </a>
        {% if description %}
            <span>{{ description|raw }}</span>
        {% endif %}
        <span class="small" title="{{ "now"|date(constant('\DateTime::COOKIE')) }}">
            Last updated: <time datetime="{{ "now"|date(constant('\DateTime::RFC3339')) }}">{{ "now"|date('l, d M Y H:i:s T') }}</time>
        </span>
    </header>

    <div id="repo-help" class="my-3">
        <a class="btn btn-primary" data-toggle="collapse" href="#repo-config">
           <em>Add this repository to your <kbd>composer.json</kbd></em>
        </a>

        <div id="repo-config" class="my-3 collapse">
            <p>Add this composer repository to your projects, then you can require your private packages and everything should work smoothly. You don't need to copy all your repositories in every project anymore.</p>
            <pre class="my-3 p-3 bg-light rounded border"><code>{
  "repositories": [{
    "type": "composer",
    "url": "{{ url }}"
  }]
}</code></pre></div>
    </div>

    <h1>Packages</h1>      

    <form>
        <div class="form-group">
            <input type="text"
                id="search"
                class="form-control"
                placeholder="Filter packages"
                autocomplete="off"
                autofocus>
        </div>
    </form>

    <div id="package-list">
        {% for name, package in packages %}{% include 'package.html.twig' %}{% endfor %}
    </div>

    <div id="ft">
        <p class="text-center"><small>This Composer repository is powered by <a href="https://github.com/composer/satis">Satis</a> {{ constant('Composer\\Satis\\Satis::VERSION') }}</small></p>
    </div>
</div>

<script type="text/javascript">
{% include 'build/app.js' %}
</script>
<svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
    <symbol id="octicon-link" viewBox="0 0 16 16">
        <path d="M4 9h1v1H4c-1.5 0-3-1.69-3-3.5S2.55 3 4 3h4c1.45 0 3 1.69 3 3.5 0 1.41-.91 2.72-2 3.25V8.59c.58-.45 1-1.27 1-2.09C10 5.22 8.98 4 8 4H4c-.98 0-2 1.22-2 2.5S3 9 4 9zm9-3h-1v1h1c1 0 2 1.22 2 2.5S13.98 12 13 12H9c-.98 0-2-1.22-2-2.5 0-.83.42-1.64 1-2.09V6.25c-1.09.53-2 1.84-2 3.25C6 11.31 7.55 13 9 13h4c1.45 0 3-1.69 3-3.5S14.5 6 13 6z"></path>
    </symbol>
</svg>
</body>
</html>
