<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="noindex,nofollow" />

    <title>{{ name|default('Composer repository') }}</title>

    <style type="text/css">
        {% include 'build/style.css' %}
    </style>
</head>

<body>

<div class="container">
    <header class="mt-3">
        <div class="d-flex justify-content-between align-items-center">
            <a href="{{ url }}">
                <h1>{{ name|default('Composer repository') }}</h1>
            </a>
            <span class="badge badge-light m-1" title="{{ "now"|date(constant('\DateTime::COOKIE')) }}">
                Last updated: <br class="d-md-none"> <time datetime="{{ "now"|date(constant('\DateTime::RFC3339')) }}">{{ "now"|date('l, d M Y H:i:s T') }}</time>
            </span>
        </div>

        {% if description %}
            <p class="lead">{{ description|raw }}</p>
        {% endif %}
    </header>

    <form class="my-3">
        <div class="form-group">
            <label for="search" class="sr-only">Filter packages</label>
            <input type="text"
                id="search"
                class="form-control"
                placeholder="Filter packages"
                autocomplete="off"
                autofocus>
        </div>
    </form>

    <div id="repo-help" class="my-3">
        <p class="small">
            This is a private Composer repository.
            To use it, you have to <a title="Check how to add this repository to your project" data-toggle="collapse" href="#repo-config">add this repository</a> to your <code>composer.json</code> file.
        </p>

        <div id="repo-config" class="my-3 card card-outline collapse">
            <div class="card-body">
                <h5 class="card-title">Setting up this repository in your projects</h5>
                <p>
                    Add this <a href="https://getcomposer.org/" title="Visit getcomposer.org">Composer</a>
                    repository to your project's <code>composer.json</code>
                    file, then you can require these private packages just like you would with
                    one from <a href="https://packagist.org">Packagist</a>.
                </p>
                <pre class="file my-3">{
  "repositories": [{
    "type": "composer",
    "url": "{{ url }}"
  }]
}</pre>
            <p class="small mb-0">Read more on <a href="https://getcomposer.org/doc/articles/handling-private-packages-with-satis.md">how to handle composer private packages</a>.</p>
            </div>
        </div>
    </div>

    <div id="package-list">
        {% for name, package in packages %}{% include 'package.html.twig' %}{% endfor %}
    </div>

    <div id="ft">
        <p class="text-center"><small>This Composer repository is powered by <a href="https://github.com/composer/satis">Satis</a> {{ constant('Composer\\Satis\\Satis::VERSION') }}</small></p>
    </div>
</div>

<script type="text/javascript">
{{ source('build/app.js') }}
</script>
<svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
    <symbol id="octicon-link" viewBox="0 0 16 16">
        <path d="M4 9h1v1H4c-1.5 0-3-1.69-3-3.5S2.55 3 4 3h4c1.45 0 3 1.69 3 3.5 0 1.41-.91 2.72-2 3.25V8.59c.58-.45 1-1.27 1-2.09C10 5.22 8.98 4 8 4H4c-.98 0-2 1.22-2 2.5S3 9 4 9zm9-3h-1v1h1c1 0 2 1.22 2 2.5S13.98 12 13 12H9c-.98 0-2-1.22-2-2.5 0-.83.42-1.64 1-2.09V6.25c-1.09.53-2 1.84-2 3.25C6 11.31 7.55 13 9 13h4c1.45 0 3-1.69 3-3.5S14.5 6 13 6z"></path>
    </symbol>
</svg>
</body>
</html>
