<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="noindex,nofollow" />

    <title>{{ name }} Composer repository</title>

    <style type="text/css">
        {% include 'assets/bootstrap.min.css' %}
        {% include 'assets/satis.css' %}
    </style>
</head>

<body>

<nav class="navbar navbar-default">
    <div class="container">
        <form class="navbar-form navbar-right">
            <div class="form-group">
                <label for="search">Filter:</label>
                <input type="text" id="search" class="form-control" autocomplete="off" autofocus />
            </div>
        </form>
    </div>
</nav>

<div class="container">

    <div class="page-header">
        <h1>
            {% if name %}{{ name }}{% else %}Composer repository{% endif %}
        </h1>

        <small>
            Last updated: <time datetime="{{ "now"|date(constant('\DateTime::RFC3339')) }}">{{ "now"|date('l, d M Y H:i:s T') }}</time>
        </small>

        {% if description %}<p>{{ description|raw }}</p>{% endif %}
    </div>

    <p>Add this Satis repository to your <kbd>composer.json</kbd>:</p>
        <pre><code>{
  "repositories": [{
    "type": "composer",
    "url": "{{ url }}"
  }]
}</code></pre>

    <div class="page-header">
        <h1>Packages</h1>
    </div>

    <div id="package-list">
        {% for name, package in packages %}{% include 'package.html.twig' %}{% endfor %}
    </div>

    <div id="ft">
        <p class="text-center"><small>This Composer repository is powered by <a href="https://github.com/composer/satis">Satis</a> {{ constant('Composer\\Satis\\Satis::VERSION') }}</small></p>
    </div>

</div>

<script>

{% include 'assets/jquery.slim.min.js' %}
{% include 'assets/bootstrap.min.js' %}
{% include 'assets/moment.min.js' %}

function momentize(elements) {
    elements.each(function () {
        var element = $(this);
        element.text(moment(element.attr('datetime')).fromNow());
    });
}

$(function () {
    var input = $('input#search');
    var list = $('div#package-list');
    var packages = list.find('h3');
    var timer;

    input.keyup(function () {
        clearTimeout(timer);
        var needle = $(this).val().toLowerCase();
        timer = setTimeout(function () {
            list.hide();
            packages.each(function () {
                $(this).closest('div.panel').toggle(
                    $(this).text().toLowerCase().indexOf(needle) !== -1
                );
            });
            list.show();
        }, 350);
    });

    $(window).keyup(function (event) {
        if (event.keyCode === 27) { // "ESC" keyCode
            input.val('').trigger('keyup');
        }
    });

    var timeElements = $('time');
    momentize(timeElements);
    setInterval(function () { momentize(timeElements); }, 5000);
});
</script>
</body>
</html>
