<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="noindex,nofollow" />

    <title>{{ name }} Composer repository</title>

    <style type="text/css">
        {% include 'assets/bootstrap.min.css' %}
        {% include 'assets/satis.css' %}
    </style>
</head>

<body>

<div class="container">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">
                    {% if name %}{{ name }}{% else %}Composer repository{% endif %}
                    {% if description %}<small>{{ description|raw }}</small>{% endif %}
                </a>
            </div>

            <div class="collapse navbar-collapse in">
                <p class="navbar-text navbar-right">
                    <small class="text-muted">
                        Last updated: <time datetime="{{ "now"|date(constant('\DateTime::RFC3339')) }}">{{ "now"|date('l, d M Y H:i:s T') }}</time>
                    </small>
                </p>
            </div>
        </div>
    </nav>

    <pre><code>{
  "repositories": [{
    "type": "composer",
    "url": "{{ url }}"
  }]
}</code></pre>
    <p class="text-right">
        <em>Add this Satis repository to your <kbd>composer.json</kbd></em>
    </p>

    <div class="page-header">
        <h1>Packages</h1>
    </div>

    <form>
        <div class="form-group">
            <input type="text"
                id="search"
                class="form-control"
                placeholder="Filter packages"
                autocomplete="off"
                autofocus>
        </div>
    </form>

    <div id="package-list">
        {% for name, package in packages %}{% include 'package.html.twig' %}{% endfor %}
    </div>

    <div id="ft">
        <p class="text-center"><small>This Composer repository is powered by <a href="https://github.com/composer/satis">Satis</a> {{ constant('Composer\\Satis\\Satis::VERSION') }}</small></p>
    </div>
</div>

<script type="text/javascript">
{% include 'assets/jquery.slim.min.js' %}
{% include 'assets/bootstrap.min.js' %}
{% include 'assets/moment.min.js' %}

function momentize(elements) {
    elements.each(function () {
        var element = $(this);
        element.text(moment(element.attr('datetime')).fromNow());
    });
}

$(function () {
    var input = $('input#search');
    var list = $('div#package-list');
    var packages = list.find('h3');
    var timeElements = $('time');
    var inputTimeout;

    var updateTimeElements = function () {
        momentize(timeElements);
    };

    var readHash = function () {
        var hash = window.decodeURIComponent(window.location.hash.substr(1));
        if (hash.length > 0) {
            input.val(hash);
            filterPackages();
        }
    };

    var updateHash = function () {
        window.location.hash = window.encodeURIComponent(input.val());
    };

    var filterPackages = function () {
        var needle = input.val().toLowerCase();

        list.hide();

        packages.each(function () {
            $(this).closest('div.panel').toggle(
                $(this).text().toLowerCase().indexOf(needle) !== -1
            );
        });

        list.show();
    };

    input.keyup(function () {
        updateHash();
        window.clearTimeout(inputTimeout);
        inputTimeout = window.setTimeout(filterPackages, 350);
    });

    $(window).keyup(function (event) {
        if (event.keyCode === 27) { // "ESC" keyCode
            input.val('');
            filterPackages();
        }
    });

    readHash();
    updateTimeElements();
    window.setInterval(updateTimeElements, 5000);
});
</script>
<svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
    <symbol id="octicon-link" viewBox="0 0 16 16">
        <path d="M4 9h1v1H4c-1.5 0-3-1.69-3-3.5S2.55 3 4 3h4c1.45 0 3 1.69 3 3.5 0 1.41-.91 2.72-2 3.25V8.59c.58-.45 1-1.27 1-2.09C10 5.22 8.98 4 8 4H4c-.98 0-2 1.22-2 2.5S3 9 4 9zm9-3h-1v1h1c1 0 2 1.22 2 2.5S13.98 12 13 12H9c-.98 0-2-1.22-2-2.5 0-.83.42-1.64 1-2.09V6.25c-1.09.53-2 1.84-2 3.25C6 11.31 7.55 13 9 13h4c1.45 0 3-1.69 3-3.5S14.5 6 13 6z"></path>
    </symbol>
</svg>
</body>
</html>
