<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="robots" content="noindex,nofollow" />
    <title>{{ name }} Composer Repository</title>
    <style type="text/css">
    {% include 'styles.css' %}
    </style>
</head>
<body>

    <div id="doc" class="yui-t7">
        <div id="hd">
            <h1>
                {% if name %}
                    {{ name }}
                {% else %}
                    The Composer Repository
                {% endif %}
            </h1>
            {% if description %}
                <p>{{ description|raw }}</p>
            {% endif %}
            <div id="lastupdate">
                Last updated: <time datetime="{{ "now"|date(constant('\DateTime::ISO8601')) }}">{{ "now"|date(constant('\DateTime::RSS')) }}</time>
            </div>
        </div>
        <div id="bd">
            <div class="yui-g">
                Adding the repository to <em>composer.json</em>:
                <pre><code>{
    "repositories": [
        {
            "type": "composer",
            "url": "{{ url }}"
        }
    ]
}</code></pre>

                Filter by package name:
                <input type="text" id="search" autocomplete="off" autofocus />

                {% for name, package in packages %}
                    <div>
                        <h3 id="{{ package.highest.name }}">{{ package.highest.name }}</h3>
                        {% if package.highest.description %}
                            <p>{{ package.highest.description }}</p>
                        {% endif %}
                        <table>
                            {% if package.highest.homepage %}
                                <tr>
                                    <th>Homepage</th>
                                    <td><a href="{{ package.highest.homepage }}">{{ package.highest.homepage }}</a></td>
                                </tr>
                            {% endif %}
                            {% if package.highest.license %}
                                <tr>
                                    <th>License</th>
                                    <td>{{ package.highest.license|join(', ') }}</td>
                                </tr>
                            {% endif %}
                            {% if package.highest.authors %}
                                <tr>
                                    <th>Authors</th>
                                    <td>
                                        {% for author in package.highest.authors %}
                                            {%- if author.homepage -%}
                                                <a href="{{ author.homepage }}">{{ author.name }}</a>
                                            {%- else -%}
                                                {{ author.name }}
                                            {%- endif -%}
                                            {%- if not loop.last -%}, {% endif -%}
                                        {% endfor %}
                                    </td>
                                </tr>
                            {% endif %}
                            {% if package.highest.support %}
                            <tr>
                                <th>Support</th>
                                <td>
                                    <ul>
                                    {% for support_type, support_url in package.highest.support %}
                                        <li>{{ support_type|capitalize }}: <a href="{{ support_url }}">{{ support_url }}</a></li>
                                    {% endfor %}
                                    </ul>
                                </tr>
                            </td>
                            {% endif %}
                            <tr>
                                <th>Releases</th>
                                <td>
                                    {% for version in package.versions %}
                                        {%- if version.distType -%}
                                            <a href="{{ version.distUrl }}" title="{{ version.distReference }}">{{ version.prettyVersion }}</a>
                                        {%- else -%}
                                            <a href="{{ version.sourceUrl }}" title="{{ version.sourceReference }}">{{ version.prettyVersion }}</a>
                                        {%- endif -%}
                                        {%- if not loop.last -%}, {% endif -%}
                                    {% endfor %}
                                </td>
                            </tr>
                            <tr>
                                <th>Required by</th>
                                <td>
                                    {% set package_dependencies = attribute(dependencies, name) %}
                                    {% if package_dependencies|length %}
                                        <ul>
                                            {% for dependency in package_dependencies %}
                                                <li><a href="#{{ dependency }}">{{ dependency }}</a></li>
                                            {% endfor %}
                                        </ul>
                                    {% endif %}
                                </td>
                            </tr>
                        </table>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div id="ft">
            <p><small>This Composer Repository is proudly powered by <a href="https://github.com/composer/satis">Satis</a> {{ constant('Composer\\Satis\\Satis::VERSION') }} - Last updated:  {{ "now"|date(constant('\DateTime::ISO8601')) }}</small></p>
        </div>
    </div>

    <script>
    {% include 'jquery-2.0.0.js' %}
    {% include 'moment-2.4.0.js' %}
    $(function(){
        var packages = $('h3');
        var timer;
        $('input#search').keyup(function(){
            clearTimeout(timer);
            var ms = 350; // milliseconds
            var needle = $(this).val().toLowerCase(), show;
            timer = setTimeout(function() {
                packages.each(function(){
                    show = $(this).text().toLowerCase().indexOf(needle) != -1;
                    $(this).parent().toggle(show);
                });
            }, ms);
        }).focus();
        $('input#search').change(function(){
            window.location.hash = "!/" + $(this).val().toLowerCase();
        });
        $(window).on("hashchange", function() {
            var $input = $('input#search');
            if (window.location.hash.indexOf("#!/") == 0) {
                $input.val(window.location.hash.replace(/#!\//,"").toLowerCase());
                $input.trigger("keyup");
            } else {
                var $anchor = $("h3[id='"+window.location.hash.replace(/^#/,"")+"']");
                if ($anchor.length != $anchor.filter(":visible").length) {
                    $input.val("").trigger("keyup");
                    $anchor.get(0).scrollIntoView();
                }
            }
        });
        $(window).trigger("hashchange");
        var $lastUpdate = $('#lastupdate time');
        function updateDate() {
            $lastUpdate.text(moment('{{ "now"|date(constant('\DateTime::ISO8601')) }}').fromNow());
        }
        setInterval(updateDate, 5000);
        updateDate();
    });
    </script>
</body>
</html>
